In [1]:
import numpy as np
import pandas as pd

In [2]:
labels = ['a', 'b', 'c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10, 'b':20,'c':30}

In [3]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [4]:
pd.Series(data=my_list, index=labels)

a    10
b    20
c    30
dtype: int64

In [5]:
pd.Series(my_list, labels)

a    10
b    20
c    30
dtype: int64

In [6]:
# menggunakan nilai array numpy
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [7]:
# menggunakan nilai array numpy dengan label
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int64

In [8]:
# menggunakan dictionary
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [11]:
# membuat index sendiri
ser1 = pd.Series([1,2,3,4], index=['USA', 'Germany', 'Italy', 'Japan'])
ser1

USA        1
Germany    2
Italy      3
Japan      4
dtype: int64

In [12]:
ser2 = pd.Series([1,2,3,4], index=['USA', 'Germany', 'USSR', 'Japan'])
ser2

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [13]:
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

BELAJAR DATAFRAME

In [14]:
import numpy as np
import pandas as pd

In [15]:
from numpy.random import rand
np.random.seed(101)

In [16]:
df = pd.DataFrame(rand(5,4), index='A B C D E'.split(), columns='W X Y Z'.split())
df

          W         X         Y         Z
A  0.516399  0.570668  0.028474  0.171522
B  0.685277  0.833897  0.306966  0.893613
C  0.721544  0.189939  0.554228  0.352132
D  0.181892  0.785602  0.965483  0.232354
E  0.083561  0.603548  0.728993  0.276239